body {
  width: 100%;
}
.site-main form label {
  text-align: left;
}
.entry-header div:first-child {
  float: left;
  background-color: #1dc5ea;
  height: 588px;
  font-size: 31px;
  color: #fff;
}
.entry-header div:first-child img {
  margin-top: 30px;
}
.entry-header div:first-child .h1 {
  color: #fff;
  font-size: 78px;
  margin-left: 30px;
  margin-top: 95px;
}
.entry-header div:first-child p {
  text-align: justify;
}
.entry-header div:first-child p,
.entry-header div:first-child img {
  margin-left: 30px;
  margin-right: 38px;
}
.entry-header div:last-child {
  float: left;
  background-color: #fff;
  font-size: 20px;
  text-align: left;
  margin-bottom: 17px;
}
.entry-header div:last-child h1 {
  color: #1dc5ea;
  margin-left: 55px;
  font-size: 24px;
  margin-top: 105px;
  font-weight: 300;
}
.entry-header div:last-child hr {
  border-top: 1px solid #a3a3a3;
  margin-left: 55px;
  margin-right: 55px;
}
.entry-header div:last-child ul li {
  line-height: 54px;
  list-style: none;
}
.entry-header div:last-child ul li a {
  color: #616161;
}
.entry-header div:last-child ul li a:hover {
  text-decoration: none;
}
.entry-header div:last-child ul li .arrow {
  background: #dcdcdc url('http://localhost:8080/wordpress-BBTFullStackExam/wp-content/uploads/2018/12/white-arrow.png') no-repeat right 0;
}
.nav ul {
  list-style: none;
  font-size: 18px;
  font-weight: 100;
  margin-left: 5%;
  margin-bottom: 17px;
}
.nav ul li {
  padding-right: 40px;
}
.nav ul li a {
  color: #808080;
}
.nav ul li a:hover {
  color: #5b5b5b;
  font-weight: 500;
  text-decoration: none;
}
.nav ul li a:active {
  color: #05c8ec;
  font-weight: 500;
}
.content-banner .col-lg-8 {
  padding-right: 0;
}
.content-banner .col-lg-4 {
  color: #fff;
  height: 393px;
  background-color: #1dc5ea;
}
.content-banner .col-lg-4 h1 {
  margin-top: 42px;
  font-size: 28px;
  font-weight: 100;
  width: 204px;
  text-align: left;
  margin-left: 57px;
  margin-bottom: 18px;
}
.content-banner .col-lg-4 p {
  color: #a1e7f7;
  margin-left: 57px;
  font-size: 21px;
  text-align: left;
  font-weight: 100;
  line-height: 22px;
}
.content-banner .col-lg-4 .btn-group {
  margin-top: 11px;
  margin-left: -63px;
}
.content-banner .col-lg-4 .btn-group button {
  background: #1dc5ea;
  border: 1px solid;
  border-radius: 0;
  padding: 0 0 0 9px;
  color: #a1e7f7;
}
.content-banner .col-lg-4 .btn-group .arrow-icon {
  background-image: url('http://localhost:8080/wordpress-BBTFullStackExam/wp-content/uploads/2018/12/white-arrow.png');
  background-position: center center;
  background-size: cover;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-left: 7px;
}
.contact-form-7 .col-lg-7 {
  background-color: #1dc5ea;
  height: 588px;
  font-size: 31px;
  color: #f0fbfe;
}
.contact-form-7 .col-lg-7 input[type="text"],
.contact-form-7 .col-lg-7 input[type="email"],
.contact-form-7 .col-lg-7 input[type="tel"],
.contact-form-7 .col-lg-7 button {
  font-size: 17px;
  height: 24px;
  background-color: #1dc5ea;
  border: 1px solid #f0fbfe;
  color: #f0fbfe;
  line-height: 0;
  border-radius: 0;
  width: 178px;
}
.contact-form-7 .col-lg-7 textarea {
  width: 80%;
  font-size: 17px;
  height: 125px;
  border-radius: 0;
  background-color: #1dc5ea;
  border: 1px solid #f0fbfe;
  color: #f0fbfe;
}
.contact-form-7 .col-lg-7 input::placeholder {
  color: #f0fbfe;
}
.contact-form-7 .col-lg-7 .intro {
  line-height: 19px;
}
.contact-form-7 .col-lg-7 .contact-us-title {
  font-size: 28px;
  font-weight: 100;
  margin-top: 91px;
}
.contact-form-7 .col-lg-7 .contact-us-detail p {
  font-size: 17px;
  color: #f0fbfe;
  font-weight: 100;
}
.contact-form-7 .col-lg-7 .contact-us-form {
  margin-left: -4px;
}
.contact-form-7 .col-lg-7 .btn-group button {
  border: 1px solid;
  height: 25px;
  font-size: 17px;
  line-height: 7px;
  width: 178px;
}
.contact-form-7 .col-lg-5 {
  background-color: #fff;
  font-size: 20px;
  text-align: left;
  margin-bottom: 17px;
}
.contact-form-7 .col-lg-5 h1 {
  color: #1dc5ea;
  margin-left: 55px;
  font-size: 24px;
  margin-top: 105px;
  font-weight: 300;
}
.contact-form-7 .col-lg-5 hr {
  border-top: 1px solid #a3a3a3;
  margin-left: 55px;
  margin-right: 55px;
}
.contact-form-7 .col-lg-5 ul li {
  line-height: 54px;
  list-style: none;
}
.contact-form-7 .col-lg-5 ul li a {
  color: #616161;
}
.contact-form-7 .col-lg-5 ul li a:hover {
  text-decoration: none;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
