body {
  width: 100%;
}
.site-main form label {
  text-align: left;
}
.entry-header {
  color: white;
}
.entry-header div:first-child {
  float: left;
  background-color: #1dc5ea;
}
.entry-header div:last-child {
  float: left;
  background-color: #fff;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
