body {
  width: 100%;
}
.site-main form label {
  text-align: left;
}
.entry-header div:first-child {
  float: left;
  background-color: #1dc5ea;
  height: 330px;
  font-size: 28px;
  color: #fff;
}
.entry-header div:first-child img {
  margin-top: 30px;
}
.entry-header div:first-child .h1 {
  color: #fff;
  font-size: 78px;
  margin-left: 30px;
}
.entry-header div:first-child p,
.entry-header div:first-child img {
  margin-left: 30px;
}
.entry-header div:last-child {
  float: left;
  background-color: #fff;
  font-size: 20px;
  text-align: left;
}
.entry-header div:last-child h1 {
  color: #1dc5ea;
  margin-left: 55px;
  font-size: 18px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
