body {
  width: 100%;
}
.site-main form label {
  text-align: left;
}
.entry-header div:first-child {
  float: left;
  background-color: #1dc5ea;
  height: 588px;
  font-size: 31px;
  color: #fff;
}
.entry-header div:first-child img {
  margin-top: 30px;
}
.entry-header div:first-child .h1 {
  color: #fff;
  font-size: 78px;
  margin-left: 30px;
  margin-top: 95px;
}
.entry-header div:first-child p {
  text-align: justify;
}
.entry-header div:first-child p,
.entry-header div:first-child img {
  margin-left: 30px;
  margin-right: 38px;
}
.entry-header div:last-child {
  float: left;
  background-color: #fff;
  font-size: 20px;
  text-align: left;
}
.entry-header div:last-child h1 {
  color: #1dc5ea;
  margin-left: 55px;
  font-size: 24px;
  margin-top: 105px;
  font-weight: 300;
}
.entry-header div:last-child hr {
  border-top: 1px solid #a3a3a3;
  margin-left: 55px;
  margin-right: 55px;
}
.entry-header div:last-child ul li {
  line-height: 54px;
  list-style: none;
}
.entry-header div:last-child ul li a {
  color: #616161;
}
.entry-header div:last-child ul li a:hover {
  text-decoration: none;
}
.entry-header div:last-child ul li.arrow {
  background: url('http://localhost:8080/wordpress-BBTFullStackExam/wp-content/uploads/2018/12/white-arrow.png') no-repeat right 0;
  color: #dcdcdc;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
