body {
	width: 100%;
}
.site-main {
	form {
		label {
		    text-align: left;
		}
	}
}


.entry-header {
	div:first-child {
		float: left;
		background-color: #1dc5ea;
		height: 588px;
    	font-size: 31px;
    	color: #fff;    	

    	img {
    		margin-top: 30px;
    	}

    	.h1 {
    		color: #fff;
    		font-size: 78px;
    		margin-left: 30px;
    		margin-top: 95px;
    	}

    	p {
    		text-align: justify;
    	}
    	p, img {
    		margin-left: 30px;
    		margin-right: 38px;
    	}
	}

	div:last-child {		
		float: left;
		background-color: #fff;
		font-size: 20px;
    	text-align: left;    
    	margin-bottom: 17px;	

    	h1 {
    		color: #1dc5ea;
    		margin-left: 55px;
    		font-size: 24px;
    		margin-top: 105px;
    		font-weight: 300;
    	}

    	hr 	{
    		border-top: 1px solid #a3a3a3;
    		margin-left: 55px;
    		margin-right: 55px;
    	}


    	ul {
    		li {
    			line-height: 54px;
    			list-style: none;

    			a {
    				color: #616161;
    			}

    			a:hover {
    				text-decoration: none;
    			}
		    	.arrow {
					background: #dcdcdc url('http://localhost:8080/wordpress-BBTFullStackExam/wp-content/uploads/2018/12/white-arrow.png') no-repeat right 0;		
				}
    			
    		}    	
    	}
	}
}

.nav {
	ul {
		list-style: none;
	    font-size: 18px;
	    font-weight: 100;
	    margin-left: 5%;	
	    margin-bottom: 17px;	    

		li {
			padding-right: 40px;

			a {
				color: #808080;
			}

			a:hover {
				color: #5b5b5b;		
				font-weight: 500;		
				text-decoration: none;
			}

			a:active {
				color: #05c8ec;
				font-weight: 500;
			}
		}
	}	
}

.content-banner {
	.col-lg-8 {
	    padding-right: 0;
	}

	.col-lg-4 {
		color: #fff;
		height: 393px;
		background-color: #1dc5ea;

		h1 {
			margin-top: 42px;
		    font-size: 28px;
		    font-weight: 100;
		    width: 204px;
		    text-align: left;
	        margin-left: 57px;
    		margin-bottom: 18px;;
		}

		p {
		    color: #a1e7f7;
		    margin-left: 57px;
		    font-size: 21px;
		    text-align: left;
		    font-weight: 100;
		    line-height: 22px;
		}

		.btn-group {
		    margin-top: 11px;
   			margin-left: -63px;

			button {
			    background: #1dc5ea;
			    border: 1px solid;
			    border-radius: 0;
			    padding: 0 0 0 9px;
			    color: #a1e7f7;
			}

			.arrow-icon {
				background-image : url('http://localhost:8080/wordpress-BBTFullStackExam/wp-content/uploads/2018/12/white-arrow.png');
				background-position: center center;
				background-size: cover;
				display: inline-block;
				height: 30px;
				width: 30px;
    			margin-left: 7px;
			}
		}
	}
}

.contact-form-7 {


	.col-lg-7 {
		background-color: #1dc5ea;
		height: 588px;
    	font-size: 31px;
    	color: #f0fbfe;  

    	input[type="text"], input[type="email"], input[type="tel"], button {
			font-size: 17px;
			height: 24px;
			background-color: #1dc5ea;
			border: 1px solid #f0fbfe;
			color: #f0fbfe;
			line-height: 0;
    		border-radius: 0;
    		width: 178px;
    	}

    	textarea {
    	    width: 80%;
		    font-size: 17px;
		    height: 210px;
		    border-radius: 0;
		    background-color: #1dc5ea;
		    border: 1px solid #f0fbfe;
		    color: #f0fbfe;
    	}

    	input::placeholder {
    		color: #f0fbfe;
    	}

    	.intro {
    		line-height: 19px;    		
    	}

	    
    	.contact-us-title {    		
			font-size: 28px;
		    font-weight: 100;
		    margin-top: 91px;    		
    	}

		.contact-us-detail p {
    		font-size: 17px;
    		color: #f0fbfe;  
    		font-weight: 100;  		
		}
    	
    	.contact-us-form {
    		margin-left: -4px;
    	}

    	.btn-info {
    		border: 1px solid;
		    height: 25px;
		    font-size: 17px;
		    line-height: 7px;
		    width: 178px;
    	}

    	.btn-group {
    	    margin-left: -4px;
    		margin-bottom: 5px;
    	}

    	input[type="submit"] {
    		color: #05c8ec;
		    background: #fff;
		    border-radius: 0;
		    height: 25px;
		    line-height: 3px;
		    padding: 17px;
    	}

    	.btn-submit {
    		text-align: right;
    	}
    
	} 

	.col-lg-5 {
		background-color: #fff;
		font-size: 20px;
    	text-align: left;    
    	margin-bottom: 17px;	

    	h1 {
    		color: #1dc5ea;
    		margin-left: 55px;
    		font-size: 24px;
    		margin-top: 105px;
    		font-weight: 300;
    	}

    	hr 	{
    		border-top: 1px solid #a3a3a3;
    		margin-left: 55px;
    		margin-right: 55px;
    	}


    	ul {
    		li {
    			line-height: 54px;
    			list-style: none;

    			a {
    				color: #616161;
    			}

    			a:hover {
    				text-decoration: none;
    			}	    	    			
    		}    	
    	}
	}
}

.body-footer {
	background-color: #2d2d2d;
    margin-top: 981px;
    height: 246px;
    color: #828789;

    .sign-up-form {
        margin-top: 20px;
    	color: #fff;
    	border-bottom: 1px solid #828789;
	    margin-left: 24px;
	    width: 97%;
	    margin-bottom: 20px;
    	padding-bottom: 16px;

    	input[type="text"] {
    		background-color: #2d2d2d;
    		border: 1px solid #fff;
    	}

    	label {
    		margin-right: 14px;
    	}

    	button {
    		background-color: #05c8ec;
		    padding: 0 16px;
		    border-radius: 0;
		    height: 28px;
		    margin-top: -3px;
    	}
    }


    .bottom-nav {
	    margin-top: 20px;
	    font-size: 11px;

	    span {
	        margin-right: 20px;
	    }
    }

    .footer-contact-number {
        margin-top: 16px;
    }

    .footer-email-address {
    	padding-bottom: 12px;
	    border-bottom: 1px solid #828789;
	    margin-left: 33px;
	    width: 97%;
    }

    .footer-copyright {
    	text-align: right;
    	margin-top: 3px;
    }

    .col-lg-12 {
    	img {
    		width: 7%;
    	}
    }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}